.admin-user-tests-section {
  background-color: #ececec44;
}
.admin-search-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.admin-user-tests-table {
  width: 100%;
  border-collapse: collapse;
}
.admin-user-tests-table th,
.admin-user-tests-table td {
  border: 1px solid #eee;
  padding: 0.75rem;
  text-align: right;
  direction: rtl;
}

.admin-user-tests-table th {
  background-color: rgba(255, 166, 0, 0.889);
}
.admin-user-tests-table ul {
  direction: ltr;
  text-align: left;
  padding-left: 1rem;
}

.selected-row {
  background-color: #f0f8ff;
}
